{% extends 'layouts/user-base.html' %}
{% load static %}
{%block title%} User Dashbaord | Add Product {%endblock%}
{%block add-product-active %} active {%endblock%}
{%block products %} here show {%endblock%}

{%block link %}
<!--begin::Vendor Stylesheets(used for this page only)-->
        <link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Vendor Stylesheets-->
{%endblock%}

{% block content %}

<!--begin::Page title-->
<div  class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
    <!--begin::Title-->
    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
        Add Sales
            </h1>
    <!--end::Title-->

            
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                            <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                                    <a href="{% url 'user_dashboard:dashboard_user' %}" class="text-muted text-hover-primary">
                                Home                            </a>
                                            </li>
                                <!--end::Item-->
                                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                                        
                            <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                                    Sales                                            </li>
                                <!--end::Item-->
                                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                                        
                            <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                                    Add Sales                                            </li>
                                <!--end::Item-->
                                        
                    </ul>
        <!--end::Breadcrumb-->
    </div>
<!--end::Page title-->

        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->                                        
                    
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content  flex-column-fluid " > 
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-xxl ">
            <form id="" method="POST" action="{% url 'user_dashboard:add_product' %}" class="form d-flex flex-column flex-lg-row" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10" data-select2-id="select2-data-132-wt1a">
                    <!--begin::Thumbnail settings-->
            <div class="card card-flush py-4">
                <!--begin::Card header-->
                <div class="card-header">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2>Thumbnail</h2>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--end::Card header-->
            
                <!--begin::Card body-->
                <div class="card-body text-center pt-0">
                    <!--begin::Image input-->
                                <!--begin::Image input placeholder-->
                        <style>
                            .image-input-placeholder {
                                background-image: url('{% static "assets/media/svg/files/blank-image.svg" %}');
                            }             
                        </style>
                        <!--end::Image input placeholder-->
                            
                    <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3" data-kt-image-input="true">
                        <!--begin::Preview existing avatar-->
                                        <div class="image-input-wrapper w-150px h-150px"></div>
                                    <!--end::Preview existing avatar-->
            
                        <!--begin::Label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                            <i class="fa fa-pencil fs-7"><span class="path1"></span><span class="path2"></span></i>
                            <!--begin::Inputs-->
                            <input type="file" name="product_image" accept=".png, .jpg, .jpeg" required>
                            <input type="hidden" name="avatar_remove">
                            <!--end::Inputs-->
                        </label>
                        <!--end::Label-->
            
                        <!--begin::Cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                            <i class="fa fa-xmark fs-2"><span class="path1"></span><span class="path2"></span></i>            </span>
                        <!--end::Cancel-->
            
                        <!--begin::Remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                            <i class="fa fa-xmark fs-2"><span class="path1"></span><span class="path2"></span></i>            </span>
                        <!--end::Remove-->
                    </div>
                    <!--end::Image input-->
            
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
                    <!--end::Description-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Thumbnail settings-->
            <!--begin::Status-->
            <div class="card card-flush py-4">
                <!--begin::Card header-->
                <div class="card-header">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2>Status</h2>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--end::Card header-->

                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Select2-->
                    <select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" name="status">
                        <option></option>
                        <option value="available" selected>Available</option>
                        <option value="sold">Sold</option>
                    </select>
                    <!--end::Select2-->

                    <!--begin::Description-->
                    <div class="text-muted fs-7">Set the product status.</div>
                    <!--end::Description-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Status-->
        
        </div>

            <!--begin::Main column-->
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

                <!--begin::General options-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Add New Product</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    

                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            {% if success_message %}
                                <div class="text-center mb-11">
                                    <p class="alert alert-success">{{ success_message }}</p>
                                </div>
                            {% elif duplicate_message %}
                                <div class="text-center mb-11">
                                    <p class="alert alert-danger">{{ duplicate_message }}</p>
                                </div>
                            {% endif %}
                            <!--begin::Input group-->
                            <div class="mb-10 fv-row">
                                <!--begin::Label-->
                                <label class="required form-label">Product Name</label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" name="product_name" class="form-control mb-2" placeholder="Product name" value="" required>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="mb-10 fv-row">
                                <!--begin::Label-->
                                <label class="required form-label">Product Price</label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" name="product_price" class="form-control mb-2" placeholder="Product Price: " value="" required>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="mb-10 fv-row">
                                <!--begin::Label-->
                                <label class="required form-label">Product Description</label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <textarea name="description" class="form-control mb-2" required></textarea>
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="mb-10 fv-row">
                                <!--begin::Label-->
                                <label class="required form-label">Select a Category</label>
                                <!--end::Label-->

                                <!--begin::Select2-->
                                <select class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select a Category" name="category" id="">
                                    {% for category in categories %}
                                        <option></option>
                                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                                    {%endfor%}
                                </select>
                                <!--end::Select2-->
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--end::Card header-->
                </div>
                <!--end::General options-->

                <!--begin::Media-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Media</h2>
                        </div>
                    </div>
                    <!--end::Card header-->

                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <!--begin::Input group-->
                        <div class="fv-row mb-2">
                            <!--begin::Dropzone-->
                            <div class="dropzone" id="kt_ecommerce_add_product_media">
                                <!--begin::Message-->
                                <div class="dz-message needsclick">
                                    <!--begin::Icon-->
                                    <i class="fa fa-images text-primary fs-3x"><span class="path1"></span><span class="path2"></span></i>                    <!--end::Icon-->
                                    <!--begin::Info-->
                                    <div class="ms-4">
                                        <h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
                                        <span class="fs-7 fw-semibold text-gray-500">Upload up to 10 files</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                            </div>
                            <!--end::Dropzone-->
                        </div>
                        <!--end::Input group-->

                        <!--begin::Description-->
                        <div class="text-muted fs-7">Set the product media gallery.</div>
                        <!--end::Description-->
                    </div>
                    <!--end::Card header-->
                </div>
                <!--end::Media-->

                <div class="d-flex justify-content-end">

                    <!--begin::Button-->
                    <button type="submit"  class="btn btn-primary">
                        <span class="indicator-label">
                            Add Product
                        </span>
                        
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <!--end::Main column-->
            </form>  
              
    </div>
        <!--end::Content container-->
    </div>
<!--end::Content-->	

                                    </div>
                <!--end::Content wrapper-->

                                    
{%endblock%}
{% block js-down %}
                    <!--begin::Vendors Javascript(used for this page only)-->
                    <script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
                    <script src="{% static 'assets/plugins/custom/formrepeater/formrepeater.bundle.js' %}"></script>
                <!--end::Vendors Javascript-->

                <!--begin::Custom Javascript(used for this page only)-->
                <script src="{% static 'assets/js/custom/apps/ecommerce/catalog/save-product.js' %}"></script>
            <!--end::Custom Javascript-->
            <script>
                // Initialize Dropzone
                Dropzone.autoDiscover = false; // Prevent Dropzone from auto-discovering elements

                // Configure Dropzone
                var myDropzone = new Dropzone("#kt_ecommerce_add_product_media", {
                    url: '/media/sales_images', // URL where files should be uploaded
                    paramName: "file", // Name of the parameter used to send the file to the server
                    maxFiles: 10, // Maximum number of files that can be uploaded
                    maxFilesize: 2, // Maximum file size allowed (in MB)
                    addRemoveLinks: true, // Show links to remove files from the queue
                    acceptedFiles: 'image/*', // Accept only image files
                    dictDefaultMessage: 'Drop files here or click to upload.', // Default message displayed in the Dropzone area
                    dictMaxFilesExceeded: 'You have reached the maximum number of files.', // Message displayed when maximum files exceeded
                    dictInvalidFileType: 'Invalid file type. Only images are allowed.', // Message displayed for invalid file type
                    dictFileTooBig: 'File is too big. Maximum file size is 10 MB.' // Message displayed for files that exceed the maximum size
                });

                // Event handler for when a file is added
                myDropzone.on("addedfile", function(file) {
                    console.log("File added:", file);
                });

                // Event handler for when a file is removed
                myDropzone.on("removedfile", function(file) {
                    console.log("File removed:", file);
                });

            </script>
{%endblock%}